<h3>
  <i class="fas fa-book-reader"></i>
  Storybooks
</h3>
<div class="section">
  <div class="lead">
    Create stories from here
  </div>
</div>
<hr>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google"></i>
    Login with buguel
  </a>
</div>