<h3>
  <i class="fas fa-book-reader"></i>
  Storybooks
</h3>
<div class="section">
  <div class="lead">
    Create stories from here
  </div>
</div>
<div class="section">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="section">
  <div class="red darken-4" style="opacity: .1; padding: 1em">
    Not implemented functionality
    <a href="/auth/google" class="btn red darken-1" disabled>
      <i class="fab fa-google"></i>
      Login with buguel
    </a>
  </div>
</div>