body {
  background-color: rgb(225, 225, 225);
}
.login-wrapper {
  margin-inline: auto;
}

.input-field {
  border: 1px solid #ececec;
  text-align: left;
}

.input-field label {
  position: static;
}